html{
    font-size: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: aquamarine;
    padding: 3rem;
}

.layaout__container-form{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.form__create{
    min-width: 60rem;
}

.create__container{
    width: 100%;
    margin-bottom: 1.5rem;
}

.create__label{
    display: block;
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
    margin-bottom: 0.5rem;
}

.create__input{
    width: 100%;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ccc;
    resize: none;
}

.create__btn{
    display: inline-block;
    width: 20rem;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #c3c3dd;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: .5rem;
    transition: all .3s ease;
}

.create__btn:hover{
    background-color: #7b7bd3;
}

.layaout__articles{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.layaout__card{
    width: 30rem;
    background-color: rgb(46, 46, 226);
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    color: white;
    
    
}

.card__header{
    width: 100%;
    border-bottom: 1px solid rgb(11, 11, 85);
}

.header__author{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    padding: 1rem;
}

.card__content{
    padding: 1.5rem;
}

.content__title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.content__description{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.content__btn{
    border: 1px solid rgb(11, 11, 85);
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    outline: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1rem;
}

